* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(255, 255, 255);  /* temp */
}

img {
    max-width: 100%;
}

.container {
    height: 100vh;  /* TODO: is this necessary */
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(181, 12, 0);
    gap: 15px;
}

.sidebar {
    /* grid-row: 1/2;  no effect */
    background-color: darkseagreen;
}

.header {
    background-color:aquamarine;

    /* height: 200px;  TODO: how to not set explicit height */
}

.main {
    background-color:burlywood;
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap: 15px;
}

.content {
    background-color:cornflowerblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: max-content;
    gap: 15px;
    padding: 1rem;
    align-content: baseline;
}

.card {
    background-color: aliceblue;
    border-left: 0.5rem solid orange;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.card * {
    margin: 0.5rem 0 0.5rem;

}

.card .icons {
    text-align: right;
}

.card img {
    max-width: 1.5rem;
}

.other {
    background-color: darkgreen;
    display: grid;
    gap: 15px;
}

.news {
    background-color:turquoise;
}

.trending {
    background-color:blueviolet;
}